/* 
colors used:
primary (green): #889182;
secondary (gold): #BF9F58;
highlight (pink): #EEC5B4;
black: #040404;
white: #FFFEFB;
*/
body { 
    background-color:#FFFEFB;
    font-family: 'Lexend', sans-serif;
    font-size: 18px; /* sets the font size to 18 px*/
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color:#040404
}
h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 4em;
    font-weight: 500;
  }
  
  h2 {
    font-size: 3.2em;
    font-weight: 500;
  }
  
  h3 {
    font-size: 2em;
    font-weight: 600;
  }
  h4 {
    font-size: 1.8em;
    font-weight: 400;
  }
  h5 {
    font-size: 1.2em;
    font-weight: 700;
  }
    
img {
    width:100%;
}
a {
    color:#BF9F58;
    text-decoration: none; /* no underlining */
}
a:visited { /*visited link */
    color:#889182;
}
a:hover {
    color:#EEC5B4;
    text-decoration:underline/* underlining when hovering over a link*/
}
a:focus { 
    color:#889182;
    text-decoration:underline
}
a:active { /*selected link */
    color:#EEC5B4;
}
.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color:#BF9F58;
    color: #FFFEFB; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #889182; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
.button.contact {
    background-color: transparent;
    color:#BF9F58;
    text-transform: uppercase;
    border: 2px solid #BF9F58;
  }
.button.contact:hover {
    background-color: #BF9F58;
    color: #FFFEFB
  }