/*-------------------------------------------Start Section---------------------------------------------*/

/*setting the default width of an element to include the padding and the border via the box-sizing property and border-box value*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*default body settings*/
/* colors used:
primary (gold): #BF9F58;
secondary (green): #889182;
highlight (pink): #EEC5B4;
black: #040404;
white: #FFFEFB;
*/
body { 
  background-color:#FFFEFB;
  font-family:'Lora', serif; /* for h1-h3 */
  font-size:20px; /* sets the font size to 30 px*/
  font-weight:200; /* sets the font weight to 300 */
  line-height:1.6; /* sets the line height to 1.6 * the font-size */
  color: #040404;
  font-family: 'Lexend', sans-serif; /* for h4-p and buttons*/
  font-size: 20px; /* sets the font size to 18 px*/
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
}

/* Body Text */
h1, h2, h3, h4 {
  line-height:1.6;
}
h1 {
  font-family:'Lora', serif;
  font-size:2.5em; /* 50px */
  font-weight:100;

  /*text-transform: uppercase;*/
}
h3 {
  font-family: 'Lexend', serif;
  font-size:1.5em; /* 30px */
  font-weight:200;
  margin-top: -8px;
}
#about-page h3 {margin-top:0;}

h4{
  font-family: 'Lexend', serif;
  font-size:1em; /* 40px */
  font-weight:500;
}

/*setting images to full-width*/
img {
  width: 100%;
}
.headshot-desktop {
    display: none;
}
.headshot-mobile {
    display: block;
}
/*more image adjustments*/
.tools {
  max-width: 300px;
}
/*change the default link color to your primary color (copied from your comments at the top of the document)*/
a {
  font-family:'Lora';
  font-size: 1.5em;
  color: #040404;
  text-decoration: none; /* No underlining */
  text-transform: uppercase;
}
a:hover {
  text-decoration:underline; /* Underlining when hovering over a link */
}

/*style the current nav item green-used brand green*/
.active a {
  opacity: 0.8;
  color:#040404;
  text-decoration: underline;
}
a:active { /* selected link */
  color:#040404;
  text-decoration: underline;
}

/*Pseudo classes for Accessibility for Across the Web*/
a:hover,
a:focus {
  color:#040404;
  text-decoration: underline;
}

/*CSS code for the button class*/
.button {
  font-family:'Lexend',sans-serif;
  font-size: 1em;
  display: inline-block;
  background-color:#Bf9558;
  color:#040404;
  filter: drop-shadow(30px 10px 4px #0000(50%));
  font-weight: 300;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: 0.8s opacity;
  text-transform: uppercase;
}
.button:hover {
  opacity: 0.8;
  color:#040404;
  background-color:#Bf9558;
  text-decoration: none;
}
.button:active {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  font-weight: 400;
  color:#040404;
  background-color: #Bf9558;
}

/*button rules for the mailto button*/
.button.contact {
  font-family: 'Lexend',sans-serif;
  font-weight: 300;
  background-color: transparent;
  color:#040404;
  text-transform: uppercase;
  border: 2px solid #040404;
  transition: 0.8s opacity;
}

/*button class hover and active state*/
.button.contact:hover {
  opacity: 0.8;
  background-color:#040404;
  color: #FFFEFB

}
.button.contact:active {
  opacity: 0.8;
  font-weight: 400;
  background-color:transparent;
  color:#040404;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*stye the page sections*/

/*style the <header> element*/

header {
  background-color:#BF9F58;
  padding: 10px 0px;
  position: fixed;
  width:100%;
}
/*style the logo*/
header .logo {
  max-width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
}
header .logo:hover {
  opacity: 0.5; 
}

/*Navigation Styling*/
/*
nav {
  display: inline-block;
} 
*/
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 200;
  color: #040404;
}  
nav {
  width:auto;
  float:right;
}

/* for hamburgur menu */
.navtoggle li .icon {
  position: absolute;
  right: 20px;
  top: 2px;
  font-weight: 100;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  background-color:#BF9F58;
  margin-top: 5px;
  margin-bottom: -51%;
  border-radius: 10px;
  border: 1px solid #040404;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #040404 rgba(255,127,80.0.5);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 0px;
}

/* Jump Link Styling */
.jumplinks {
  align-items: center;
  display: inline-block;
  width:100%
}
.jumplinks > ul {
  list-style-type:none;
  padding: 40px;
}
.jumplinks > ul > li > a {
  padding: 0 ;
  text-transform: uppercase;
  font-weight: 400;
  color: #040404;
}  

/*Hero Styling */
#hero {
  color:#040404;
  background-color:#FFFEFB;
  padding: 133px 40px 0;
  display: inline-block;
  width: 100%;
}
#herodetail {
  display: inline-block;
  width: 20%;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
#hero span {
  display: block;
}

/*Style Contact*/
#contact {
    background-color: #FFFEFB;
    padding: 20px;
}

/*Style the social icons*/
.social {
  list-style-type: none;
  padding: 0;
  margin-left: -10px;
}
.social li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.social img {
  height: 32px;
  width: 32px;
}

/* Footer Styling */
footer {
  color:#040404;
  background-color:#Bf9558;
  padding: 25px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/* Layout styling */

.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work .row { padding-bottom: 20px; }

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*Media Queries*/

/*clear page flow*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

/*float all columns left*/
[class*="col-"] {
  padding: 10px;
}

/* ==============================
Medium devices (680px and larger)
================================= */
@media only screen and (min-width: 680px) {
  h1 {
    font-size: 3em; 
  }
  body {
    font-size: 20px;
  }
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  .col-md-6 {
    width: 50%;
    float: left;
    padding-bottom: 40px;
  }
    
}
/* ==============================
Large devices (1024px or larger)
================================= */

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .col-lg-7 {
    width: 60%;
  }
  .col-lg-5 {
    width: 40%;
  }
  .col-lg-7 {
    width: 60%;
    float: left;
    padding-bottom: 40px;
  }
  .col-lg-8 {
    width: 40%;
    float: right;
  }
   #about-page .col-md-6 {
     width: 100%;
  }
  .headshot-desktop {
        display: block;
        float: right;
        width: 50%;
        margin-left: 20px;
        margin-bottom: 20px;
    }
  .headshot-mobile {
    display: none;
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}

/*-------------------------------------------Start Section---------------------------------------------*/
/* ================================ SVG Animations ========================= */
@keyframes color-change {
  0% {fill: #BF9F58;}
  50% {fill: #889182;}
  100% {fill: #EEC5B4;}
}
.logobox {
  animation: 4s color-change infinite alternate linear;
}
/*--------------------------------------------End Section---------------------------------------------*/
