/*-------------------------------------------Start Section---------------------------------------------*/
/*setting the default width of an element to include the padding and the border via the box-sizing property and border-box value*/
* {
  box-sizing: border-box;
}

/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*default body settings*/
/* colors used:
primary (green): #4F564A;
secondary (gold): #81611A;
highlight (pink): #CF9F87;
black: #040404;
white: #FFFEFB;
*/

body { 
    background-color:#FFFEFB;
    font-family:'Lora', serif; /* for h1-h3 */
    font-size:30px; /* sets the font size to 30 px*/
    font-weight:300; /* sets the font weight to 300 */
    line-height:1.6; /* sets the line height to 1.6 * the font-size */
    color: #040404;
    font-family: 'Lexend', sans-serif; /* for h4-p and buttons*/
    font-size: 18px; /* sets the font size to 18 px*/
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
}
/* Body Text */
h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-family:'Lora', serif;
    font-size:3em; /* 60px */
    font-weight:300
  }
  #hero h1 {
    text-align: center;
  }
  h2 {
    font-family: 'Lora', serif;
    font-size:2.5em; /* 50px */
    font-weight:400;
  }
  h3 {
    font-family: 'Lora', serif;
    font-size:2em; /* 40px */
    font-weight:300;
  }
  h4 {
    font-family: 'Lexend', sans-serif;
    font-size:1.8em; /* 30px */
    font-weight:300;
  }
/* setting images to full-width*/
img {
    width:100%;
}
/* links */
a {
    color:#81611A;
    text-decoration: none; /* no underlining */
}
a:visited { /*visited link */
    color:#040404;
}
a:hover {
    color:#CF9F87;
    text-decoration:underline/* underlining when hovering over a link*/
}
a:focus { 
    color:#4F564A;
    text-decoration:underline
}
a:active { /*selected link */
    color:#CF9F87;
}
/*Pseudo classes for Accessibility for Across the Web*/
a:hover,
a:focus {
  color: #040404;
  text-decoration: underline;
}
/* CSS code for the button class*/
.button {
    font-family: 'Lexend', sans-serif;
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color:#81611A;
    color: #FFFEFB; /* needed to override the default link color */
    font-weight: 300;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s opacity;
    text-transform: uppercase;
}
.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}
.button:active {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
}
/*button rules for the mailto button*/
.button.contact {
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    background-color: transparent;
    color:#FFFEFB;
    text-transform: uppercase;
    border: 2px solid #FFFEFB;
}
.button.contact:hover {
    background-color: #4F564A;
    color: #FFFEFB
}
.button.contact:active {
  background-color: #4F564A;
  color: #FFFEFB
}
/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/*stye the page sections*/
header {
  background-color:#81611A;
  padding: 10px 0;
  position: fixed;
  text-align:center;
  width:100%;
}
.css-box-shadow{
	/*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #81611A;  
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}
/*style the logo*/
header .logo {
  max-width: 50px;
}
header .logo:hover {
  opacity: 0.5; /* Reduces the opacity of the button to 50% */
}
/*Navigation Styling*/
nav {
  display: inline-block;
}
nav> ul {
  list-style-type: none;
  padding:0
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFFEFB;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color:#040404;
}
nav > ul > li > a:hover{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #4F564A;
}
#hero  {
  color:#FFFEFB;
  background-color:#81611A;
  padding: 133px 20px 0;
  display: inline-block;
  width: 100%;
}
/*Style the social icons*/
.social {
  list-style-type: none;
  padding: 0;
  margin-left: -10px;
}
.social li {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
}
.social img {
  height: 32px;
  width: 32px;
}
/*--------------------------------------------End Section---------------------------------------------*/
/*-------------------------------------------Start Section---------------------------------------------*/
/* Layout styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#work .row { padding-bottom: 25px; border-bottom: 2px solid #040404 
}
footer {
  color:#FFFEFB;
  background-color:#81611A;
  padding: 25px;
  display: inline-block;
  width: 100%;
  text-align: center;
}