/* 
colors used:
primary (green): #4F564A;
secondary (gold): #81611A;
highlight (pink): #CF9F87;
black: #040404;
white: #FFFEFB;
*/
body { 
    background-color:#FFFEFB;
    font-family:'Lora', serif; /* for h1-h3 */
    font-size:30px; /* sets the font size to 30 px*/
    font-weight:300; /* sets the font weight to 300 */
    line-height:1.6; /* sets the line height to 1.6 * the font-size */
    color: #040404;
    font-family: 'Lexend', sans-serif; /* for h4-p and buttons*/
    font-size: 18px; /* sets the font size to 18 px*/
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color:#040404
}
/* Body Text */
h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-family:'Lora', serif;
    font-size:3em; /* 60px */
    font-weight:300
  }
  h2 {
    font-family: 'Lora', serif;
    font-size:2.5em; /* 50px */
    font-weight:400;
  }
  h3 {
    font-family: 'Lora', serif;
    font-size:2em; /* 40px */
    font-weight:300;
  }
  h4 {
    font-family: 'Lexend', sans-serif;
    font-size:1.8em; /* 30px */
    font-weight:300;
  }
/* images */
img {
    width:100%;
}
/* links */
a {
    color:#81611A;
    text-decoration: none; /* no underlining */
}
a:visited { /*visited link */
    color:#040404;
}
a:hover {
    color:#CF9F87;
    text-decoration:underline/* underlining when hovering over a link*/
}
a:focus { 
    color:#4F564A;
    text-decoration:underline
}
a:active { /*selected link */
    color:#CF9F87;
}
/* Button */
.button {
    font-family: 'Lexend', sans-serif;
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color:#81611A;
    color: #FFFEFB; /* needed to override the default link color */
    font-weight: 300;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s opacity;
    text-transform: uppercase;
  }
.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
.button.contact {
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    background-color: transparent;
    color:#81611A;
    text-transform: uppercase;
    border: 2px solid #81611A;
  }
.button.contact:hover {
    background-color: #81611A;
    color: #FFFEFB
  }
/* layout styling */
.container {
  padding: 0 30;
}
#socials {
  width:5%
}
.row {
  margin: 30px 0; /* 30px top and bottom, 0 left and right */
}
#work .row { padding-bottom: 30px; 
}
.center {
  text-align: center;
}
header {
  background-color:#81611A;
  text-align: center;
  padding: 10px 0; /* Adds a 10px inner spacing to all sides */
  position: fixed;
  width:100%;
}
/* Navigation */
nav {
  display: inline-block;
  width: 100%;
}
nav> ul {
  list-style-type: none;
  padding:0%;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #040404;
}
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #4F564A;
}
nav > ul > li > a:hover{
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 400;
  color: #CF9F87;
}
.css-box-shadow{
	/*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #81611A;  
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
}
.logo {
  width: 50px;
}
#hero  {
  background-color:#81611A;
  padding: 133px 20px 0;
  display: inline-block;
  width: 100%;
}